            /***/
            
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            body {
                font-family: Roboto;
            }
            
            .navbar-collapse {
                flex-grow: inherit !important;
            }
            
            .mt3-footer {
                background: radial-gradient(121.11% 2682.05% at -13.33% 71.9%, #903A95 0%, #1E194F 46.35%, #903A95 100%);
            }
            
            .mt3-nav-banner {
                background: radial-gradient(100% 132.62% at 5.83% 0%, #903A95 0%, #37225B 100%);
            }
            
            .mt3-navbar li .active {
                font-weight: 600;
            }
            
            .mt3-banner-content h3 {
                font-style: normal;
                font-weight: bold;
                font-size: 59px;
                line-height: 70px;
                color: #fff;
            }
            
            .mt3-banner-content h5 {
                font-style: normal;
                font-weight: normal;
                font-size: 27px;
                line-height: 78px;
                color: #FFFFFF;
                opacity: 0.74;
            }
            
            .mt3-bg-container {
                position: relative;
                height: 100%;
            }
            
            .mt3-catog img {
                border-radius: 20px;
            }
            
            .mt3-catog h3 {
                margin-top: 25px;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 13px;
                color: #37225B;
            }
            
            .mt3-catog h6 {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                color: #000000;
                opacity: 0.57;
            }
            
            .mt3-download-btn {
                padding: 12px 28px;
                background: radial-gradient(110.46% 1184.01% at 11.3% 50.68%, #903A95 0%, #1E194F 100%);
                border-radius: 11px;
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 37px;
                color: #FFFFFF;
                text-decoration: none;
            }
            
            a:hover.mt3-download-btn {
                color: #FFFFFF;
            }
            
            .mt3-logo {
                width: 60px;
            }
            
            .mt3-navbar li a {
                color: #fff !important;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
            }
            
            .mt3-about-content h1 {
                font-weight: bold;
                font-size: 28px;
                line-height: 45px;
                text-align: center;
                color: #1E194F;
            }
            
            .mt3-about-content p {
                font-weight: normal;
                font-size: 19px;
                line-height: 27px;
                width: 900px;
                max-width: 100%;
                margin: 0 auto;
                text-align: center;
                color: #000000;
                opacity: 0.49;
            }
            
            .mt3-catog-section {
                padding-top: 80px;
                padding-bottom: 50px;
            }
            
            .mt3-catog-title {
                margin-bottom: 25px;
                font-weight: bold;
                font-size: 24px;
                line-height: 47px;
                color: #000000;
            }
            
            .mt3-footer {
                padding: 40px 0;
            }
            
            .mt3-footer-ab h4 {
                font-size: 17px;
                line-height: 25px;
                color: #FFFFFF;
                margin-top: 20px;
            }
            
            .mt3-footer-section h2 {
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                color: #FFFFFF;
            }
            
            .mt3-footer-section h4 {
                font-size: 17px;
                line-height: 24px;
                color: #FFFFFF;
            }
            
            .mt3-footer-section ul li {
                list-style: none;
                font-size: 17px;
                line-height: 26px;
                color: #FFFFFF;
            }
            
            ul {
                padding-inline-start: 0px;
            }
            
            .mt3-footer-logo {
                width: 60px;
            }
            
            @media (min-width: 576px) {
                .navbar-expand-sm .navbar-nav .nav-link {
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                }
            }
            
            .navbar {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            
            @media(min-width:780px) {
                .mt3-download-button .mt3-googleplay-btn {
                    padding-right: 1rem;
                }
            }
            
            @media(max-width:780px) {
                .mt3-banner-content h3 {
                    font-size: 45px;
                    line-height: 56px;
                }
            }
            
            @media(max-width:580px) {
                .navbar-collapse {
                    background-color: #22023b;
                    padding: 20px;
                    margin-top: 27px;
                    border-radius: 20px;
                }
            }